/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 23, 2025, 4:04:36 PM
    Author     : NgocNNCE181950
*/
body {
    font-family: Arial, sans-serif;
    background-color: #8AAAE5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    display: block;
}

form label {
    font-weight: bold;
    display: block;
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px;
    margin-top: 15px;
    cursor: pointer;
    width: 100%;
    border-radius: 6px;
    font-size: 16px;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background-color: #8AAAE5;
}