<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CustomerPostController</servlet-name>
        <servlet-class>Controllers.CustomerPostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerUpdatePostController</servlet-name>
        <servlet-class>Controllers.CustomerUpdatePostController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerCommentController</servlet-name>
        <servlet-class>Controllers.CustomerCommentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffOrderController</servlet-name>
        <servlet-class>Controllers.StaffOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffOrderDetailController</servlet-name>
        <servlet-class>Controllers.StaffOrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>Controllers.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListController</servlet-name>
        <servlet-class>Controllers.ProductListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailController</servlet-name>
        <servlet-class>Controllers.ProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomepageController</servlet-name>
        <servlet-class>Controllers.HomepageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerOrderController</servlet-name>
        <servlet-class>Controllers.CustomerOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerPostController</servlet-name>
        <url-pattern>/CustomerPostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerUpdatePostController</servlet-name>
        <url-pattern>/CustomerUpdatePostController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerCommentController</servlet-name>
        <url-pattern>/CustomerCommentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffOrderController</servlet-name>
        <url-pattern>/StaffOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffOrderDetailController</servlet-name>
        <url-pattern>/StaffOrderDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListController</servlet-name>
        <url-pattern>/ProductList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailController</servlet-name>
        <url-pattern>/ProductDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomepageController</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerOrderController</servlet-name>
        <url-pattern>/OrderPage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>VerifyEmailController</servlet-name>
        <servlet-class>Controllers.VerifyEmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Controllers.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyEmailController</servlet-name>
        <url-pattern>/verifyEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmailController</servlet-name>
        <url-pattern>/resendCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>CustomerProfileController</servlet-name>
        <servlet-class>Controllers.CustomerProfileController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerProfileController</servlet-name>
        <url-pattern>/viewProfile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BanCustomerAccountController</servlet-name>
        <servlet-class>Controllers.BanCustomerAccountController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BanCustomerAccountController</servlet-name>
        <url-pattern>/BanCustomerAccountController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeliveryOrderListController</servlet-name>
        <servlet-class>Controllers.DeliveryOrderListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeliveryOrderListController</servlet-name>
        <url-pattern>/deliveryList</url-pattern>
    </servlet-mapping>
</web-app>
